body{
    background-image: linear-gradient(aqua,lightpink,lightyellow);
    height: 100vh;
}
.big{
display: flex;
background-color: red;
width: 100%;
height: 30px;
border: none;
justify-content: space-around;
font-size: 15px;
cursor: pointer;
}
.again{
    border-radius: 10px;
    background-color: aqua;
    margin-left: 60%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;
}
